*{
    color: #2E6DB5;
    font-size: 25px;
    
}

hr{
    width: 100%;
    /* color: #2E6DB5; */
    border: 1.3px solid #2E6DB5;
   margin: 8px 0 8px 0;
}

input{
    font-size: 20px;
    border: 1px solid white;
    color: black;
    margin-top: 20px;
    background-color: transparent;
    
}
input:focus {
    outline: none;           
    background-color: transparent;
}

.textbox{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin: 30px;
    /* padding-top: %; */
    
}

div.footerRegister{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    
}
.footerRegister p{
    font-size: 15px;
    cursor: pointer;

}

div.footerRegister button{
    font-size: 15px;
    border-radius: 7px;
    border-color: transparent;
    background-color: #2E6DB5;
    color: white;
    width: 100px;
    cursor: pointer;
    height: 40px;
}