.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1f2937; */
  background-color: transparent;
  padding: 10px 20px;
}

.container nav {
  padding: 10px;
  display: flex;
  gap: 20px;
}

.container nav a {
  color: rgb(3, 31, 62);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.container nav a:hover {
  color: rgb(19, 180, 86);
}