* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body {
  margin: 0;
  padding: 0;
  background-image: url('../src/assets/food-cooking-background-stone-texture-with-sea-salt-pepper-garlic-parsley-light-grey-abstract-food-background-empty-space-text-can-be-used-food-posters-design-menu-top-view_253362-16400.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: sans-serif;
}

form{
    background-color: white;
}